:root {
    --main-bg-color: rgba(255, 244, 199, 0.89);
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size:cover
}

.container {
    margin-top: 20px;
    text-align: center;
}

.outerForm {
    text-align: left;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--main-bg-color);
    min-height: 100px;
}

#title {
    background-color: var(--main-bg-color);
}

h2 {
    font-size: medium;
}